@{
    ViewData["Title"] = "Home Page";
}

<div class="home-welcome text-center">
    <h1>Welcome to the Employee Management System</h1>
    <p class="lead">Manage your employees easily.</p>
    <hr />
    <p>
        To view the employee list, click <a asp-controller="Employees" asp-action="Index">here</a>.
    </p>
    
</div>
